<div>
  <h2>My Skills</h2>
  <ul>
  <% @skills.each do |skill| %>
    <li>
        Skill: <%= skill.user.skill %><br>
        Rating: <%= skill.user.rating %><br>
        Comments: <%= skill.comments %><br>
    </li>
  </ul>
  <% end %>


     <p>
      <%=f.label :skills %><br />
      <%=f.text_field :skills %>
    </p>
    <p>
      <%=f.label :rating %><br />
      <%=f.text_field :rating %>
    </p>
    <p>
      <%=f.label :comments %><br />
      <%=f.text_field :comments %>
    </p>

    <p class="button"><%= f.submit %></p> 



</div>
